:root {
  /* Primary Colors */
  --color-primary-main: #362db4;
  --color-primary-dark: #272183;
  --color-primary-light: #928ce3;

  --color-record: #9c1734;

  /* Destructive Colors */
  --color-destructive-main: #cc444b;
  --color-destructive-hover: #cc444b;

  /* Success Colors */
  --color-success-main: #30c57f;
  --color-success-hover: #186340;

  /* Neutral Colors */
  --color-black: #120425;
  --color-white: #f6f1f9;
  --color-grey-lightest: #e7e4e9;
  --color-grey-light: #e4d4ed;
  --color-grey-mid: #73637c;
  --color-grey-dark: #352e39;
  /* Border Colors */
  --color-border-light: #e4d4ed;
  --color-border-dark: #c9a9db;

  color: var(--color-black);
}
/* General button styling */
button {
  display: flex;
  gap: 0.25rem;
  height: 2rem;
  width: fit-content;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  align-items: center;
  justify-content: center;
  min-width: fit-content;
  cursor: pointer;
  font-size: 14px;
  border: none;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.1s ease;
}

/* Primary button (main actions) */
.primary-btn {
  border: 1px solid var(--color-primary-dark);
  background-color: var(--color-primary-main);
  color: var(--color-white);
  padding-left: 24px;
  padding-right: 24px;
}

.primary-btn:hover {
  background-color: var(--color-primary-dark);
}

.primary-btn:active {
  transform: scale(0.98);
  background-color: var(--color-primary-light);
}

/* Secondary button (supporting actions) */
.secondary-btn {
  border: 1px solid var(--color-primary-main);
  background-color: var(--color-white);
  color: var(--color-primary-main);
  padding-left: 24px;
  padding-right: 24px;
}

.secondary-btn:hover {
  border: 1px solid var(--color-primary-main);
  background-color: var(--color-grey-light);
  color: var(--color-primary-dark);
}

.secondary-btn:active {
  transform: scale(0.98);
  background-color: var(--color-grey-mid);
}

/* Destructive button (for deleting, removing, etc.) */
.destructive-btn {
  border: 1px solid var(--color-destructive-main);
  background-color: var(--color-white);
  color: var(--color-destructive-main);
  padding: 0.5rem 1rem;
}

.destructive-btn:hover {
  background-color: var(--color-destructive-hover);
  color: var(--color-white);
}

.destructive-btn:active {
  transform: scale(0.98);
  background-color: var(--color-destructive-main);
  color: var(--color-white);
}

/* Success button (for successful actions) */
.success-btn {
  background-color: var(--color-success-main);
  color: var(--color-white);
  padding: 0.5rem 1rem;
}

.success-btn:hover {
  background-color: var(--color-success-hover);
}

.success-btn:active {
  transform: scale(0.98);
  background-color: var(--color-success-main);
}

/* Add to your CSS file */
.toast-container {
  position: fixed;
  bottom: 64px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s 0.5s;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  z-index: 9999;
}

.toast {
  background-color: #333;
  color: var(--color-white);
  padding: 10px 20px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s 0.5s;
}

.toast.show,
.toast-container.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}
.toast-clickable{
    cursor: pointer;
    color: var(--color-grey-light);
    text-decoration: underline;
}
.toast-clickable:hover{
    color: var(--color-primary-light);
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
h1 {
  margin: 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

h2 {
  display: block;
  /* Ensure the title behaves like a block element (default for h2) */
  width: 100%;
  /* Ensure the title takes up the full width of its container */
  white-space: normal;
  /* Allow text to wrap */
  word-wrap: break-word;
  /* Break long words to avoid overflow */
  overflow: hidden;
  /* Hide overflow if necessary */
  text-overflow: ellipsis;
  /* Show ellipsis if overflow happens */
  font-size: 1.125rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: default;
  font-weight: 400;
  margin: 0;
}
p {
  display: flex;
  font-size: 0.9rem;
  width: 100%;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: default;
}
